<header class="navbar navbar-fixed-top" id="ihead">
  <div class="container">
    <%= link_to t(".amdin"), "#", id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t(".log_in"), login_path %></li>
      </ul>
    </nav>
  </div>
</header>
