<div class="col-md-3">
  <%= image_tag user.avatar.url if user.avatar? %>
</div>
<div class="col-md-9">
  <%= user.name %><br>
  <%= user.email %>
</div>

<% if current_user&.admin? && !current_user?(user) %>
  | <%= link_to t(".delete"), user, method: :delete,
    data: {confirm: t(".confirm")} %>
<% end %>
