<% provide :title, t("page_title") %>
<% provide :submit_title, t(".submit_button") %>
<h1><%= t ".update_profile" %></h1>
 <div class="row">
    <%= form_for @user do |f| %>
      <div class="col-md-3">
        <%= render "avatar", f: f %>
      </div>
      <div class="col-md-6">
        <%= render "form", user: @user %>
      </div>
    <% end %>
  </div>
</div>
